/*  src/Title.css  */
.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 1px;
    background-color: rgb(76, 122, 83);
    color: #fff;
    position: fixed;
  }